body{
  background: url("backgroundreal.jpg") no-repeat center fixed;
  background-size: cover;
}
#centerText{
  color: white;
  height: 500px;

}
#topMenu {
  background-color: #c2b6ab;
  --bs-nav-link-color: white;
 }
#basic-navbar-nav{
  font-weight: bold;



}
.navbar-nav{
  color: white;
}
h1{
  font-family: fantasy;
  font-stretch: ultra-expanded;
  letter-spacing: 2px;
  color: white;
}
#button{
  -moz-box-align: center;
  box-sizing: content-box;
  width: 300px;
  height: 50px;
  border: 3px solid darkorange;
  padding: 3px;
  background-clip: content-box ;
  background-color: darkorange;

}
a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-stretch: ultra-expanded;
  line-height: 1.8;
}